footer 
    hr.border-light
    h1.ml-3 Xizmatlar litsenziyalanmagan &copy 2020
    .container
        .row
            .col-6.text-center.offset-3
                .social-networks
                    a.networks(href='#').mr-3
                        i.fab.fa-youtube
                    a.networks(href='#').mr-3
                        i.fab.fa-telegram
                    a.networks(href='#').mr-3
                        i.fab.fa-instagram
                    a.networks(href='#')
                        i.fab.fa-github
