nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') music.uz
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      if(isHome)
        li.nav-item.active
          a.nav-link(href='/')
            | Bosh sahifa 
            span.sr-only (current)   
      
      else
        li.nav-item
          a.nav-link(href='/')
            | Bosh sahifa
            span.sr-only (current)
      
      if(isAbout)
        li.nav-item.active
          a.nav-link(href='/music/') Musiqa qo'shish
      
      else
        li.nav-item
          a.nav-link(href='/music/') Musiqa qo'shish
      
      
    ul.navbar-nav
      if !user
        if(isRegister)
          li.nav-item.active.regstry
            a.nav-link.text-light(href='/register')
              | ro'yxatdan o'tish 
              span.sr-only (current)   
        
        else
          li.nav-item.regstry
            a.nav-link.text-light(href='/register')
              | ro'yxatdan o'tish
              span.sr-only (current)
      
        if(isLogin)
          li.nav-item.active.regstry
            a.nav-link.text-light(href='/login') kirish
        
        else
          li.nav-item.regstry
            a.nav-link.text-light(href='/login') kirish 
      else
      
          if(isLogout)
            li.nav-item.active.regstry
              a.nav-link.text-light(href='/logout') chiqish
          
          else
            li.nav-item.regstry
              a.nav-link.text-light(href='/logout') chiqish 