body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/aboutpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff!important;
}
.navbar{
  background-color: transparent!important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.6rem;
  font-weight: 400;
  
}
.navbar-nav{
  position: relative;
  /* left: 10rem; */
}
.navbar-brand{
  color: goldenrod!important;
  font-size: 1.8rem;
  font-style: oblique;
}
.nav-item{
  margin-right: 5rem;
}

a {
  color: #00B7FF;
}
.active{
  background-color: red;
}

.regstry{
  box-sizing: border-box;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 0px;
  
}
.regstry a{

  margin: 0;

}